.LocationGridCard {

}

.LocationGridCard > a{
    filter: grayscale(100%);
}

.LocationGridCard > a:hover {
    filter: grayscale(0%);
}

.LocationGridCard .CardImage {
    transition: filter ease 500ms;
    filter: grayscale(100%);
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-image: url(http://localhost:3000/static/img/loading_image.gif);
}

.LocationGridCard .CardImage:hover {
    filter: grayscale(0%);
}

.LocationGridCard .CardDetails{
    line-height: 1rem;
    position: relative;
    overflow: hidden;
    padding: .8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.LocationGridCard .CardDetails div {
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: .9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}