.ModalDialog {
    min-width: 10rem;
}

.ModalDialog .ModalCustomFooter {
    padding: .75rem;
    border-top: 1px solid #eceeef;
    border-bottom-right-radius: calc(.6rem - 1px);
    border-bottom-left-radius: calc(.6rem - 1px);
}

.ModalDialog .DialogIcon{
    width: 5rem;
    height: auto;
}

.ModalDialog .DialogContent {
    align-items: center;
}